

.about__para{
    font-size: 13px;
    z-index: -4;
    left: 10%;
}


.about__parent{
    display: grid;
    place-items: center;
    margin-top: 5em;
}

.about__profile{
    width: 40%;
}

@media only screen and (min-width: 768px){

    .about__parent{
        justify-content: space-around;
        flex-direction: row-reverse;
        margin-top: 5em;
    }

    .about__profile{
        width: 20%;
        
    }
    .about__text{
        
        font-size: 20px;
    }
     
    .about__para{
        font-size: 20px;
    }
    
    .about__parent{
        display:flex;
    }

}


