.about__profile{
    position: absolute;
    width: 40%;
    top:85%;
    left:25%;
}

.about__text{
    font-size: 10px;
   position: absolute;
   top: 120%;
   left: 30%;
 
  z-index: -4;
}
.about__para{
    font-size: 13px;
    z-index: -4;
    left: 10%;
}

@media only screen and (min-width: 768px){
    .about__profile{
        width: 25%;
        top:115%;
    }
    .about__text{
        top: 120%;
        font-size: 20px;
    }
     
    .about__para{
        font-size: 20px;
    }
    .about_parent{
        display:flex;
    }

}


