

.about__para{
    font-size: 13px;
    z-index: -4;
    left: 10%;
}


.about{
    display: grid;
    place-items: center;
}

.about__profile{
    width: 50%;
}

@media only screen and (min-width: 768px){

   

    .about__profile{
        width: 25%;
        top:115%;
    }
    .about__text{
        top: 120%;
        font-size: 20px;
    }
     
    .about__para{
        font-size: 20px;
    }
    
    .about__parent{
        display:flex;
    }

}


