.navbar__image{
    
    float: right;

}
.navbar__list__names{
    
 margin-top: 5%;
 
    list-style-type: none;
    color:cornsilk;
   
}
   
 



 .navbar__list{
    
    background-color: rgb(0, 174, 255);
    position: fixed;
    top:0;
    bottom:0;
    left:60%;
    width: 40%;
    z-index: -1;

 }

 .navbar__list__none{
     display:none;
 }

 @media only screen and (min-width: 768px){

    .navbar__list__names{
        display: flex;

        
    }
    .navbar__list__none{
        display:block;
        position: fixed;
    top:0;
    bottom:initial;
    left:60%;
    width: 40%;
    
    }
   .navbar__image{
       display:none
   }

   .navbar__list__names li{
       margin-left: 8%;
       color: black;
   }
   .navbar__list{
       background-color: transparent;
       bottom: initial;
   }


    .navbar__list__names {
       
        position: absolute;
        right: 30%;
    }
     
 }

