img{
    
    float: right;

}
ul{
    
 margin-top: 5%;
 
    list-style-type: none;
    color:cornsilk;
   
}
   
 



 .navbar__list{
    
    background-color: rgb(0, 174, 255);
    position: fixed;
    top:0;
    bottom:0;
    left:60%;
    width: 40%;
    z-index: -1;

 }

 .navbar__list__none{
     display:none;
 }