.intro__image{
   margin-top: 10em;
    width: 100%;
    z-index: -4;

    
  
}

.intro__text h1{
    position: absolute;
   top:12%;
    font-size: 22px;
    left: 15%;
   
}

@media only screen and (min-width: 768px){

    .intro{
        display: grid;
        place-items: center;
    }

    .intro__image{
        top: 30%;
        width: 50%;
        left: 25%;
       
    }

    .intro__text h1{
        font-size: 32px;
    }

}