.intro__image{
   margin-top: 10em;
    width: 100%;
    z-index: -4;

    
  
}

.intro__text{
    position: absolute;
   top:15%;
    font-size: 10px;
    left: 15%;
   
}

@media only screen and (min-width: 768px){

    .intro{
        display: grid;
        place-items: center;
    }

    .intro__image{
        top: 30%;
        width: 60%;
        left: 25%;
       
    }

    .intro__text{
        font-size: 15px;
    }

}